body{color:#07B91A;
    font-size: 70px; 
    font-family:lucida calligraphy;
    background:#2f9dcf;}



header,section.contenido{
display:none !important;
float:none !important;
width:auto !important;
margin:0 !important;
padding:0 !important;
}

 