.ancho{width:200px;
min-height:10px;
max-height:200px;}

.altura{height:70px;
min-height:10px;
max-height:70px;}

.caja{width:300px;
height:200px;
margin-left:1px;
margin-right:5px;
margin-bottom:5px;
margin-top:5px;
padding-top:10px;
padding-bottom:7.5px;
padding-left:5px;
padding-right:10px;
border-top-width:10px;
border-bottom-width:7.5px;
border-left-width:thin;
border-right-width:thick;
border-top-color:#A5BC0F;
border-bottom-color:#1F49A8;
border-left-color:#F11409;
border-right-color:#20BD27;
background:green;


}

.mega{width:100px;
margin:30px;
padding:15px;
background:#51C3D3;
color:#AFCCBE;
height:250px;
border:thick solid #DC4540;
}

img{width:20px;}

.plus{border:thick
solid yellow;
width:100px;}

.ad{border-top-color:thick solid #A5BC0F;
border-bottom-color:#1F49A8;
border-left-color:#F11409;
border-right-color:#20BD27;}