body { font-size:100px; }
p {font-size:50px;  }
div{background:blue; color: white; width:10%; font-size:30px; }
h1{color:olive; }
h2 { color: rgb(101,110,149); font-size:43px;}
h3 { color: #85337F;  font-size:50px;  }
h4 {color: rgb(95%,80%,96%);  font-size:50px;}
