table{border:3px outset #096648;
border-collapse:collapse;
font-family:arial;
text-align:center;
}

tr{border:3px outset #096648;
border-collapse:collapse;
}

th{border:3px outset #096648;
background:#FFFFCC;
}

.gris{background:#333;}

.azul{background:#E6F3FF;}

