a {margin:20px; 
padding:10px;
text-decoration:none;
background:#0B33F7;
color:#FFFFFF;
display:inline-block;
}
.distrital{cursor:default;}
.nacional{cursor:crosshair;}
.amazon{cursor:hand;}
.outlook{cursor:pointer;}
.mercadolibre{cursor:move;}
.instagram{cursor:text;}
.certificadosservilimpieza{cursor:wait;}
.microsoft{cursor:help;}
.wikipedia{cursor:n-resize;}
.github{cursor:ne-resize;}
.gitlab{cursor:e-resize;}
.pepsi{cursor:se-resize;}


.cocacola{cursor:s-resize;}
.sprite{cursor:sw-resize;}
.alpina{cursor:se-resize;}
.olimpica{cursor:w-resize;}
.panamericana{cursor:nw-resize;}
.netflix{cursor:progress;}
.spotify{cursor:not-allowed;}
.intel{cursor:no-drop;}
.hp{cursor:vertical-text;}
.toshiba{cursor:all-scroll;}
.amd{cursor:col-resize;}
.colombia{cursor:row-resize;}
.avianca{cursor:url();}
.transmilenio{cursor:move;}

a:hover{background:#14EC80;
color:#000000;}

