h1 {color:#214396;
font-size:50px;
font-family:courier new; }

p {color:#DD842C;
font-size: 45px;
font-family:arial; }


#Mexico {color:#7EAB6D;
font-size: 40px;
font-family:verdana; }



.guatemala {color:#5CB9A2;
font-size: 35px;
font-family:arial black; }