.peso{font-weight:100;}

.estilo{font-style:oblique;}

.estilo2{font-style:italic;}

.estilo3{font-style:normal;}

.variante{font-variant:small-caps;}

.variante2{font-variant:normal;}

.taright{text-align:right;
}

.taleft{text-align:left;}

.tacenter{text-align:center;}

.tajustify{text-align:justify;}

.aplicacion{font-size:60px;
font-family:georgia;}

.lh{line-height:100px; font-size:80px;}

.tdol{text-decoration:overline;}


.tdul{text-decoration:underline;}
.tdb{text-decoration:blink;}


.tto{text-transform:original;}
.ttc{text-transform:capitalize;}
.ttlc{text-transform:lowercase;}
.ttuc{text-transform:uppercase;}
