body{background:url(C:/Users/USER/Documents/Sebas/CSS/jsrhoficial2.jpg); background-repeat:no-repeat; color:olive;
background-attachment:scroll; background-width:300px; background-position:right; }
h1{font-size:50px; }
div {background:url(C:/Users/USER/Pictures/scaner.jpg); width:200px; color: blue; height:200px; background-position:20%;  }